{% extends 'layouts/main.html.twig' %}
{% block title %}{{ 'gin_ranking.title'|trans }}{% endblock %}
{% block content %}
    <div class="page-heading">
        <h3>{{ 'gin_ranking.title'|trans }}</h3>
        {% if form.vars.imageToRender is defined and form.vars.imageToRender is not null %}
            <div>
                <img src="{{ asset(form.vars.imageToRender, 'gin_ranking') }}" alt="{{ form.name.vars.data }}"/>
            </div>
        {% endif %}
    </div>
    <div class="page-content">
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.category) }}
        {{ form_row(form.image) }}
        <button class="btn btn-primary" type="submit">{{ 'gin_ranking.form.edit.submit'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
