{% extends 'layouts/main.html.twig' %}
{% block title %}Gin Ranking{% endblock %}
{% block content %}
    <div class="page-heading">
        <h3>Gin Ranking</h3>
    </div>
    <div class="page-content">
        {% if gins is empty %}
            Pas de gin
        {% else %}
        <div class="accordion" id="accordionExample">
            {% for key,case in enum_cases('App\\Enum\\GinRanking\\CategoryEnum') %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ key }}" aria-expanded="true" aria-controls="accordion-{{ case.value }}">
                            {{ case|trans }}
                        </button>
                    </h2>
                    <div id="accordion-{{ key }}" class="accordion-collapse collapse {% if key == 0 %}show{% else %}hide{% endif %}" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for gin in gins|filter(item => item.category == case) %}
                                    <tr>
                                        <td>{{ gin.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
