{% extends 'layouts/main.html.twig' %}
{% block title %}
    {{ 'gin_ranking.title'|trans }}
{% endblock %}

{% block heading %}
    <h1>{{ 'gin_ranking.title'|trans }}</h1>
{% endblock %}

{% block content %}
    <div class="page-content d-flex flex-column mx-auto w-md-33">
        {{ form_start(form, {attr: {class: 'w-100'}}) }}
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.image) }}
            <twig:Button class="w-100" type="submit">{{ 'gin_ranking.form.new.submit'|trans }}</twig:Button>
        {{ form_end(form) }}
    </div>
{% endblock %}
