<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            class: 'form form-horizontal needs-validation',
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'submit',
        },
    }) }}
        <div class="form-body">
            <div class="row d-flex align-items-baseline">
                <div class="col-auto">
                    {{ form_label(form.hexaText) }}
                </div>
                <div class="col-auto">
                    {{ form_widget(form.hexaText) }}
                    {{ form_errors(form.hexaText) }}
                </div>
                {% if rgbSearched %}
                    <div class="col-auto">
                        <input type="color" class="form-control form-control-color" readonly disabled value="{{ rgbSearched.toHexa }}" />
                    </div>
                {% endif %}
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-sm">
                        {{ 'dmc_finder.form.submit.label'|trans }}
                    </button>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    {% if rgbSearched %}
        <div class="mt-3">
            <label>{{ 'dmc_finder.block.rgb_searched'|trans({'%red%': rgbSearched.red, '%green%': rgbSearched.green, '%blue%': rgbSearched.blue, '%hexa%': rgbSearched.toHexa}) }}</label>
        </div>
    {% endif %}

    {% if dmcFound %}
        <hr />
        <fieldset class="d-flex flex-column">
            <legend>{{ 'dmc_finder.block.dmc_found.legend'|trans }}</legend>
            <label>#{{ dmcFound.dmc.number }}</label>
            <label>{{ 'dmc_finder.block.dmc_found.name'|trans }} {{ dmcFound.dmc.name }}</label>
            <div class="d-flex">
                <label class="me-2 align-self-center">{{ 'dmc_finder.block.dmc_found.color'|trans }}</label><input type="color" readonly disabled class="form-control form-control-color" value="{{ dmcFound.dmc.rgb.toHexa }}" />
            </div>
            <label>{{ 'dmc_finder.block.dmc_found.rgb'|trans({'%red%': dmcFound.dmc.rgb.red, '%green%': dmcFound.dmc.rgb.green, '%blue%': dmcFound.dmc.rgb.blue, '%hexa%': dmcFound.dmc.rgb.toHexa}) }}</label>
            <label><em>{{ 'dmc_finder.block.dmc_found.score_rgb'|trans({'%red%': dmcFound.score.diffRed, '%green%': dmcFound.score.diffGreen, '%blue%': dmcFound.score.diffBlue, '%score%': dmcFound.score.total}) }}</em></label>
        </fieldset>
    {% endif %}
</div>
