{% extends 'layouts/main.html.twig' %}
{% block title %}{{ 'home.title'|trans }}{% endblock %}
{% block content %}
    <div class="page-heading">
        <h3>{{ 'app_name'|trans }}</h3>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-6">
                        <a href="{{ path('dmc_finder_main') }}">
                            <twig:card:CardWithEmoji emoji="ðŸ§µ">
                                <h5 class="font-extrabold mb-0">{{ 'home.apps.dmc_finder'|trans }}</h5>
                            </twig:card:CardWithEmoji>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <a href="{{ path('gin_ranking_main') }}">
                            <twig:card:CardWithEmoji emoji="ðŸ¾">
                                <h5 class="font-extrabold mb-0">{{ 'home.apps.gin_ranking'|trans }}</h5>
                            </twig:card:CardWithEmoji>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
